---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import homeIllustration from "../assets/img/home.svg";
---

<Layout title="Home">
  <main class="flex flex-col items-center h-full py-8">
    <div class="h-full flex items-center justify-center">
      <Image src={homeIllustration} alt="MKR" width="300" height="300" />
    </div>

    <div class="w-full">
      <!-- <a href="/masuk" class="mkr_btn-primary w-full">
        <span>Masuk</span>
      </a>

      <div class="grid grid-cols-2 gap-4">
        <a href="/daftar" class="mkr_btn-primary--outlined w-full mt-4"
          ><span>Daftar</span></a
        >
        <a href="/iuran" class="mkr_btn-primary--outlined w-full mt-4">
          <span>Iuran</span>
        </a>
      </div> -->
      <a href="/iuran" class="mkr_btn-primary w-full mt-4">
        <span>Iuran</span>
      </a>
    </div>
  </main>
</Layout>
