---
import Header, { Props as HeaderProps } from "../components/Header.astro";

interface Props extends HeaderProps {
  title: string;
}

import { ViewTransitions } from "astro:transitions";

const { title, backURL, backFunction } = Astro.props;
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MKR | {title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <ViewTransitions />
  </head>
  <body>
    <section id="root-container">
      <Header title={title} backURL={backURL} backFunction={backFunction} />
      <slot />
    </section>
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
      }

			/* SCROLLBAR */
      /* Firefox */
      * {
        scrollbar-width: thin;
        scrollbar-color: gray #fff;
      }
      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
				@apply w-1 h-1;
      }
      *::-webkit-scrollbar-track {
				@apply bg-white rounded;
      }
      *::-webkit-scrollbar-thumb {
				@apply bg-gray-600 rounded;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      a {
        @apply cursor-pointer;
      }

      #root-container {
        max-width: 480px;
        @apply shadow-lg h-screen mx-auto px-4;
      }
    </style>
  </body>
</html>
